body {
    background-color: lightseagreen;
}

div.h {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    background-color: blue;
    width: 19%;
}

.user {
    padding-bottom: 25px;
    font-size: 25px;
}

.password {
    font-size: 25px;
}

.login_button {
    width: fit-content;
    margin-left: 70px;
}

.login {
    text-align: center;
    font-size: 25px;
}

#login_form {
    width: fit-content;
    height: fit-content;
    margin-top: 300px;
    background-color: red;
}

.form {
    font-size: 50px;
    padding-top: 50px;
}

#pass {
    font-size: 15px;
}

#email {
    font-size: 15px;
}

.h2 {
    position: relative;
    margin-top: -400px;
    float: right;
    text-align: center;
    background-color: green;
}

h2 {
    font-size: 35px;
}

.firstname {
    padding-bottom: 10px;
}

.lastname {
    padding-bottom: 10px;
}

.signup_email {
    padding-bottom: 10px;
}

.signuppassword {
    padding-bottom: 10px;
    padding-right: 80px;
}

.reenterpassword {
    padding-bottom: 10px;
}

div.firstname label{
    padding-right: 30px;
}

div.lastname label {
    padding-right: 31px;
}

div.signup_email{
    padding-right: 130px;
}

.sign_up{
    padding-top: 50px;
    font-size: 25px;
}

#first {
    font-size: 17px;
    margin-right: 0px;
}

#last {
    font-size: 17px;
    margin-right: 0px;
}